<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "reddit.png" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Yongyi Xu</h1>
    <p>Welcome to my kingdom.</p>
    <p>I am so fucking cool</p>
    <p>Love me! Support my page!</p>
  </div>
</div>